In [90]:
import math

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm

Вам предлагается предсказать цену квадратного метра недвижимости, используя датасет оценок стоимости квартир

Цель этого курса - всё ещё научить анализировать данные, а не строить ML модели. Поэтому в этой лабораторной мы предлагаем построить новые полезные для предсказания признаки, удалить бесполезные, обработать сырые и может даже поискать дополнительные признаки в интернете

Также разрешается использовать только алгоритм LinearRegression из python пакета sklearn. Использовать другие модели при решении нельзя. Разрешается и рекомендуется придумывать дополнительные признаки для датасета, использовать признаки из сторонних источников и находить наилучшие гиперпараметры алгоритма

Примером признака из сторонних источников могут быть api карт. Сторонние источники вроде сервисов оценки недвижимости использовать нельзя. Преподаватель имеет право забанить такого рода признаки и решение с ними

Баллы ставятся на момент публикации private leaderbord'а, это происходит на следующий день после конца соревнования. Баллы ставятся только в случае, если код решения сдан преподавателю практики

Все студенты получают одинаковое количество баллов за лабораторную, кроме первых и последних трёх.
Первые три места получают +30, 20 и 10 процентов баллов соответственно
Последние три места получают -50, 60, 70 процентов баллов соответственно

In [91]:
#sample_submission_df = pd.read_csv('data\\sample_submission.csv')

#sample_submission_df

In [92]:
df_test = pd.read_csv('data\\test_x.csv')

df_test

,city,floor,id,lat,lng,osm_amenity_points_in_0.001,osm_amenity_points_in_0.005,osm_amenity_points_in_0.0075,osm_amenity_points_in_0.01,osm_building_points_in_0.001,...,reform_house_population_500,reform_mean_floor_count_1000,reform_mean_floor_count_500,reform_mean_year_building_1000,reform_mean_year_building_500,region,total_square,street,date,realty_type
0,Москва,1.0,COL_164098,55.700000,37.752365,5,21,51,89,0,...,1048.0,8.510989,8.791667,1970.950549,1971.250000,Москва,4863.0,S5484,2020-05-24,100
1,Октябрьский,NaN,COL_70629,54.489840,53.490696,0,1,7,21,0,...,136.0,4.937500,3.173913,1973.046875,1965.565217,Башкортостан,26.0,S12273,2020-02-23,100
2,Пермь,1.0,COL_132045,57.969273,56.152996,1,21,37,50,0,...,395.0,7.118644,11.071429,1973.639344,1980.400000,Пермский край,242.0,S34019,2020-04-26,100
3,Балашиха,1.0,COL_16510,55.785270,37.853317,0,5,39,49,0,...,NaN,NaN,NaN,NaN,NaN,Московская область,91.9,S21668,2020-01-19,10
4,"Одинцовский городской округ, с. Аксиньино",3.0,COL_141915,55.738186,36.981342,2,8,8,9,0,...,NaN,NaN,NaN,NaN,NaN,Московская область,1500.0,S2158,2020-05-03,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68820,Кемерово,NaN,COL_278008,55.518540,86.096436,1,17,18,19,0,...,578.0,4.816667,5.344828,1979.196721,1983.137931,Кемеровская область,237.7,S25064,2020-08-23,10
68821,Тюмень,NaN,COL_205933,57.153940,65.492440,0,4,30,44,0,...,594.0,6.456522,6.130435,1978.985507,1977.956522,Тюменская область,74.0,S25354,2020-06-28,10
68822,Уфа,7.0,COL_157101,54.729095,55.939934,6,70,128,209,0,...,780.0,5.151316,4.890625,1951.220779,1946.303030,Башкортостан,25.0,S6517,2020-05-24,100
68823,Москва,1.0,COL_130653,55.739864,37.849950,0,47,100,170,0,...,1647.0,13.416667,14.125000,1994.722222,1994.175000,Москва,22.4,S25226,2020-04-19,100
68824,Тюмень,NaN,COL_119470,57.133690,65.561400,5,23,40,90,0,...,218.0,7.000000,11.142857,1978.941176,1988.000000,Тюменская область,61.6,S1842,2020-04-12,110

In [93]:
df_train_all = pd.read_csv('data\\train.csv')

df_train_all

,city,floor,id,lat,lng,osm_amenity_points_in_0.001,osm_amenity_points_in_0.005,osm_amenity_points_in_0.0075,osm_amenity_points_in_0.01,osm_building_points_in_0.001,...,reform_house_population_500,reform_mean_floor_count_1000,reform_mean_floor_count_500,reform_mean_year_building_1000,reform_mean_year_building_500,region,total_square,street,date,realty_type
0,Ставрополь,NaN,COL_65683,45.011356,41.919273,7,71,144,225,0,...,969.0,8.439655,9.250000,1990.232759,1993.500000,Ставропольский край,31.00,S1842,2020-02-23,10
1,Омск,NaN,COL_159011,54.984833,73.387344,4,40,109,206,0,...,305.0,4.756410,4.333333,1960.346154,1956.291667,Омская область,150.00,S14290,2020-05-24,10
2,Белгород,NaN,COL_205850,50.576805,36.563267,0,9,22,44,0,...,533.0,6.435897,6.400000,1980.452991,1989.633333,Белгородская область,73.00,S25733,2020-06-28,10
3,Большой Исток,NaN,COL_229491,56.714413,60.792454,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,Свердловская область,438.00,S6985,2020-07-19,110
4,Новосибирск,1.0,COL_77283,55.055200,82.895810,0,25,50,101,0,...,1188.0,6.830065,6.672414,1974.045752,1974.637931,Новосибирская область,62.70,S4778,2020-03-01,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206469,Нижний Тагил,1.0,COL_177140,57.911450,59.961727,2,32,56,89,0,...,1031.0,5.466667,5.560000,1966.519380,1967.381818,Свердловская область,41.00,S19208,2020-06-07,100
206470,Новосибирск,NaN,COL_102032,55.067345,82.960770,1,6,8,28,0,...,939.0,6.120370,6.078947,1965.807339,1964.461538,Новосибирская область,98.30,S2332,2020-03-22,110
206471,Ставрополь,NaN,COL_253873,44.998290,41.921482,13,97,157,227,0,...,649.0,8.894737,9.214286,1997.815789,1995.928571,Ставропольский край,921.50,S1743,2020-08-02,100
206472,Санкт-Петербург,5.0,COL_186498,59.855330,30.319840,3,95,274,429,0,...,1224.0,6.386792,8.055556,1961.481132,1962.333333,Санкт-Петербург,40.01,S16774,2020-06-14,10
206473,Екатеринбург,NaN,COL_248969,56.836235,60.682053,2,67,110,143,0,...,1138.0,11.208333,11.095238,1986.129870,1986.320000,Свердловская область,40.20,S25329,2020-08-02,110

In [94]:

from math import inf, isnan


def dropUnusableColumns(curr_df):
    out_def_df_numb = curr_df.select_dtypes(exclude=['object'])

    out_def_df_numb['is_negative_floor'] = out_def_df_numb['floor'].apply(lambda x: 1 if (not isnan(x)) and x < 0 else 0)
    out_def_df_numb['is_khrushchyovka'] = out_def_df_numb['floor'].apply(lambda x: 1 if (not isnan(x)) and 0 < x < 10 else 0)
    out_def_df_numb['is_high_floor'] = out_def_df_numb['floor'].apply(lambda x: 1 if (not isnan(x)) and x > 10 else 0)
    out_def_df_numb['is_uknown'] = out_def_df_numb['floor'].apply(lambda x: 1 if isnan(x) else 0)
    out_def_df_numb = out_def_df_numb.drop('floor', axis=1)

    for i in range(len(out_def_df_numb.columns)):
        out_def_df_numb.iloc[:, i]=out_def_df_numb.iloc[:, i].fillna(out_def_df_numb.iloc[:, i].mean())

    return out_def_df_numb

def resultColumnTransformer(curr_df):
    out_def_df_numb = np.log(curr_df)
    return out_def_df_numb

In [95]:
df_test_result = df_train_all.per_square_meter_price
df_test_columns = dropUnusableColumns(df_train_all.drop('per_square_meter_price', axis=1))
df_test_columns

,lat,lng,osm_amenity_points_in_0.001,osm_amenity_points_in_0.005,osm_amenity_points_in_0.0075,osm_amenity_points_in_0.01,osm_building_points_in_0.001,osm_building_points_in_0.005,osm_building_points_in_0.0075,osm_building_points_in_0.01,...,reform_mean_floor_count_1000,reform_mean_floor_count_500,reform_mean_year_building_1000,reform_mean_year_building_500,total_square,realty_type,is_negative_floor,is_khrushchyovka,is_high_floor,is_uknown
0,3.828888,3.759321,7,4.276666,4.976734,5.420535,0,0,0,0,...,8.439655,9.250000,7.596509,7.598149,3.465736,2.397895,0,0,0,1
1,4.025081,4.309286,4,3.713572,4.700480,5.332719,0,1,1,1,...,4.756410,4.333333,7.581386,7.579317,5.017280,2.397895,0,0,0,1
2,3.943072,3.626027,0,2.302585,3.135494,3.806662,0,1,1,4,...,6.435897,6.400000,7.591586,7.596208,4.304065,2.397895,0,0,0,1
3,4.055507,4.123781,0,0.000000,0.000000,0.693147,0,0,0,0,...,7.071113,7.383622,7.585072,7.585290,6.084499,4.709530,0,0,0,1
4,4.026337,4.429576,0,3.258097,3.931826,4.624973,0,0,0,1,...,6.830065,6.672414,7.588347,7.588647,4.154185,2.397895,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206469,4.076035,4.110246,2,3.496508,4.043051,4.499810,0,0,0,0,...,5.466667,5.560000,7.584529,7.584967,3.737670,4.615121,0,1,0,0
206470,4.026554,4.430350,1,1.945910,2.197225,3.367296,0,0,0,0,...,6.120370,6.078947,7.584167,7.583482,4.598146,4.709530,0,0,0,1
206471,3.828604,3.759372,13,4.584967,5.062595,5.429346,0,0,0,0,...,8.894737,9.214286,7.600310,7.599366,6.827087,4.615121,0,0,0,1
206472,4.108499,3.444252,3,4.564348,5.616771,6.063785,0,2,4,4,...,6.386792,8.055556,7.581965,7.582399,3.713816,2.397895,0,1,0,0
206473,4.057615,4.121993,2,4.219508,4.709530,4.969813,0,0,1,1,...,11.208333,11.095238,7.594447,7.594542,3.718438,4.709530,0,0,0,1

In [96]:
from sklearn.linear_model import LinearRegression

df_test_formatted_result = resultColumnTransformer(df_test_result)

regressor = LinearRegression()
regressor.fit(df_test_columns, df_test_formatted_result)
df_test_formatted_result

0          9.778217
1         10.409301
2         10.020966
3         11.283627
4         11.751452
            ...
206469    11.013418
206470    11.222595
206471     9.745967
206472    11.839819
206473    12.048225
Name: per_square_meter_price, Length: 206474, dtype: float64

In [97]:

lab4_res_array = regressor.predict(dropUnusableColumns(df_test))
lab4_res_array

lab4_res_df = pd.DataFrame(lab4_res_array, columns=['per_square_meter_price'])
lab4_res_df['per_square_meter_price'] = np.exp(lab4_res_df['per_square_meter_price'])
lab4_res_df.index.names = ["id"]
lab4_res_df = lab4_res_df.reset_index(level=0)
lab4_res_df = lab4_res_df.reindex(columns=['per_square_meter_price', 'id'])
lab4_res_df.to_csv("res/res_.csv", index=False)
lab4_res_df

       per_square_meter_price     id
0                78956.274869      0
1                28221.423776      1
2                46741.819991      2
3                55884.930862      3
4                29530.577258      4
...                       ...    ...
68820            15459.650112  68820
68821            28631.900368  68821
68822           126945.984873  68822
68823           249320.959967  68823
68824            47615.631357  68824

[68825 rows x 2 columns]